<!doctype html><html><head>
  <meta charset=utf8>
  <title>REMApp</title>

  <!--
    VUE
    development version, includes helpful console warnings
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    production version, optimized for size and speed
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <style>
    #app table{
      border-collapse:collapse;
    }
    #app td, #app th {
      padding:0.2em;
    }
    #app .membrane_reuse {
      padding:1em;
      font-size:large;
      border:1px solid #ccc;
    }
  </style>
</head><body>

<!--title-->
<h1>
  REMApp
</h1>

<div id=app>
  <!--survey 1-->
  <div>
    <!--survey 1 inputs-->
    <div>
      <b>Survey 1</b>
      <table border=1>
        <tr v-for="q in questions" v-if="is_rendered(q)">
          <td>{{q.code}}
          <td>{{q.name}}
          <td>
            <select id="survey_1" v-model="q.value">
              <option :value="null">--select--</option>
              <option v-for="ans in q.answers">
                {{ans}}
              </option>
            </select>
          </td>
        </tr>
      </table><br>
    </div>

    <!--survey 1 outputs-->
    <div>
      <b>Membrane reuse</b>
        <div class=membrane_reuse :style="`background:${get_membrane_reuse_color()}`">
          {{show_membrane_reuse()}}
        </div>
      </div>
    </div>
  </div>
</div>


<script src="survey_1.js"></script><!--vue object-->

