<!doctype html>
<html><head>
  <meta charset=utf8>
  <title>remapp</title>

  <!--
    VUE
    development version, includes helpful console warnings
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    production version, optimized for size and speed
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <style>
    #app table{
      border-collapse:collapse;
    }
    #app td, #app th {
      padding:0.2em;
    }
    #app .membrane_reuse {
      padding:1em;
      font-size:large;
      border:1px solid #ccc;
    }
  </style>
</head><body>
<h1>REMApp</h1>

<div id=app>
  <b>Survey 1</b>
  <table border=1>
    <tr v-for="q in questions">
      <td> {{q.code}}
      <td> {{q.name}}
      <td>
        <select v-model="q.value">
          <option :value="null">--select--</option>
          <option v-for="ans in q.answers">
            {{ans}}
          </option>
        </select>
      </td>
    </tr>
  </table>

  <p>
    <b>Membrane reuse</b>
    <div style="font-size:large">
      <div class=membrane_reuse :style="`background:${get_membrane_reuse_color()}`">
        {{get_membrane_reuse()}}
      </div>
    </div>
  </p>
</div>

<script>

  let app = new Vue({
    el:"#app",
    data:{
      questions:[
        {code:"T",  name:"Type of membrane",       value:null, answers:["Reverse osmosis","Nanofiltration","Ultrafiltration","Microfiltration","Other"]},
        {code:"C",  name:"Membrane configuration", value:null, answers:["Spiral-wound","Other"]},
        {code:"S",  name:"Membrane size",          value:null, answers:["Length: 1m. Diameter: 0.2m", "Other"]},
        {code:"W",  name:"Membrane weight",        value:null, answers:["<17kg","17-25 kg", ">25kg","Don't know"] },
        {code:"ED", name:"External damage",        value:null, answers:["No","Yes","Don't know"] },
        {code:"F",  name:"Fouling type",           value:null, answers:["Inorganic scaling","Other","Don't know"] },
        {code:"ST", name:"Membrane storage",       value:null, answers:["Wet","Immersed in a water solution","Dry","Don't know"] },
        {code:"D",  name:"Storage duration",       value:null, answers:["<1 month",">1 month","Don't know"] },
        {code:"RP", name:"Cause of replacement",   value:null, answers:["Granted budget for replacement","Operating more than the expected lifespan","Lost of membrane integrity","Don't know"] },
        {code:"P",  name:"Membrane position",      value:null, answers:["Single pass","Double pass - single stage","Double pass - double stage","Mix","Don't know"] },
        {code:"WT", name:"Type of water",          value:null, answers:["Seawater","Brackish water","Wastewater","Chemical industry","Food industry"] },
      ],

      membrane_reuse_options:[
        {name:"Landfill disposal or incineration", color:"red"},
        {name:"Indirect recycling",                color:"purple"},
      ],
    },
    methods:{
      get_question_by_code(code){
        return this.questions.find(q=>q.code==code);
      },

      get_membrane_reuse(){
        let get_question = this.get_question_by_code;
        if(get_question("T" ).value == "Other")                       return "Landfill disposal or incineration";
        if(get_question("C" ).value == "Other")                       return "Landfill disposal or incineration";
        if(get_question("S" ).value == "Other")                       return "Landfill disposal or incineration";
        if(get_question("W" ).value == "Other")                       return "Landfill disposal or incineration";
        if(get_question("ED").value == "Yes")                         return "Landfill disposal or incineration";
        if(get_question("ST").value == "Dry")                         return "Indirect recycling";
        if(get_question("D" ).value == ">1 month")                    return "Indirect recycling";
        if(get_question("F" ).value == "Inorganic scaling")           return "Indirect recycling";
        if(get_question("RP").value == "Lost of membrane integrity")  return "Indirect recycling";
        if(get_question("P" ).value == "Double pass - double stage ") return "Indirect recycling";

        return "answer survey 1 to get a membrane reuse";
      },

      //frontend
      get_membrane_reuse_color(){
        let name = this.get_membrane_reuse();
        let reuse = this.membrane_reuse_options.find(o=>o.name==name);
        if(reuse) return reuse.color;
        else return "";
      },
    },
  });
</script>
