<!-- Notice -->
<html lang="en">
  <div id="notice" class="text-center">
    <div class="container">
      <div class="col-12">
        <h5 style="font-weight: bold" align="left">What is a cookie?</h5>
        <p align="justify"> A cookie is a small piece of data stored on the user's computer by the web browser while
          browsing a website. Cookies were designed to be a reliable mechanism for websites to remember stateful information,
          or to record the user's browsing activity. They can also be used to remember pieces of information that the user
          previously entered into form fields, such as names, addresses, etc.</p>

        <h5 style="font-weight: bold" align="left">What are the different types of cookies?</h5>
        <h6 style="font-weight: bold"  align="left">Session Cookies</h6>
        <p align="justify"> Session cookies are temporary cookies that memorize your online activities. Since websites have no sense of
          memory, without these cookies, your site browsing history would always be blank. In fact, with every click you
          would make, the website would treat you as a completely new visitor. </p>

        <p align="justify"> A good example of how session cookies are helpful is online shopping. When you’re shopping online, you can
          check-out at any time.  That’s because session cookies track your movement.  Without these cookies, whenever you
          would go to check-out, your cart would be empty.</p>

        <h6 style="font-weight: bold" align="left">Persistent Cookies</h6>
        <p align="justify"> Persistent cookies (also known as first-party cookies) work by tracking your online preferences. When you
          visit a website for the first time, it is at its default setting.  But if you personalize the site to fit your
          preferences, persistent cookies will remember and implement those preferences the next time you visit the site.
          This is how computers remember and store your login information, language selections, menu preferences, internal
          bookmarks, and more.</p>

        <p align="justify">Persistent, permanent, and stored cookies are terms used interchangeably as these cookies are
          stored in your hard disk for (typically) a long period of time.  The cookie’s timeline will vary depending on the
          xpiration date.  But, once that date is reached, the cookie will be deleted, along with everything you
          customized.</p>

        <h6 style="font-weight: bold" align="left">Third-party Cookies</h6>
        <p align="justify"> Third-party cookies, also referred to as tracking cookies, collect data based on your online behavior.
          When you visit a website, third-party cookies collect various types of data that are then passed on or sold to
          advertisers by the website that created the cookie.  Tracking your interests, location, age, and search trends,
          these cookies collect information so that marketers can provide you with custom advertisements.  These are the
          ads that appear on websites you visit and display content relevant to your interests.</p>

        <h5 style="font-weight: bold" align="left">What cookies are used in this webpage?</h5>
        <p align="justify"> We use Google Analytics cookies to analyse how users interact with the webste and where they
          come from. The information generated by the cookie about your use of the websites, applications or
          services (including your IP address) will be transmitted to and stored by Google on servers in Spain. Google will
          use this information for the purpose of evaluating your use of the website, compiling reports on website activity
          for website operators and providing other services relating to website activity and internet usage. Google may also
          transfer this information to third parties where required to do so by law, or where such third parties process
          the information on Google's behalf. Google will not associate your IP address with any other data held by Google.
          You may refuse the use of cookies by selecting the appropriate settings on your browser or within the application,
          By using our website you consent to the processing of data about you by Google in the manner and for the purposes
          set out above. To find out more, see “How Google uses data when you use our partners' sites or apps”,
          located <a style="color: #3a89b4" href="http://www.google.com/policies/privacy/partners" target="_blank"> here</a>. </p>


        <h5 style="font-weight: bold" align="left">How can I disable cookies?</h5>
        <p align="justify">To opt out of being tracked by Google on any website you can visit
          <a style="color: #3a89b4" href="http://tools.google.com/dlpage/gaoptout" target="_blank"> this page.</a></p>

        <p align="justify"> Otherwise, you can also block cookies on the browser level:</p>

        <ul align="justify">
          <li> <p style="text-align:left"><strong>Mozilla Firefox</strong>: Instructions on how to block cookies on Firefox can be found
            <a style="color: #3a89b4" href="https://support.mozilla.org/en-US/kb/block-websites-storing-cookies-site-data-firefox" target="_blank"> here</a>.</p></li>
          <li> <p style="text-align:left"><strong>Safari</strong>: Instructions on how to block cookies on Safari can be found
            <a style="color: #3a89b4" href="https://support.apple.com/ca-es/guide/safari/sfri11471/mac" target="_blank"> here</a>.</p></li>
          <li><p style="text-align:left"><strong>Chrome and other Chromium-based browsers</strong>: Instructions on how to block cookies
            on Chromium can be found <a style="color: #3a89b4" href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=en-GB" target="_blank">here</a>.</p></li>
        </ul>

      </div>
    </div>
  </div>
</html>
